:root{
  --theme-one-dark: #111; 
  --theme-blue-darkblue: #0c094e;
  --theme-blue-lightblue:#0cbaba;
  --clearsky-graident: linear-gradient(to top, #005c97, #363795);

  --buttons-gradient: linear-gradient(20deg, #0c094e 74%, #363795 100%);
  --clearsky-light: #005c97; 
  --clearsky-dark: #363795; 
  





}

*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    margin:0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    background: #005c97; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #005c97, #363795); /* Chrome 10-25, Safari 5.1-6 */
    background: var(--clearsky-graident); 
    
    
}
img{
    max-width: 100%;
    display: block;
}

h1,
h2,
h3, 
p{
    margin: 0;
}
select{
  text-align: center; 
}
input {
    width: 100%;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #000; 
    border-radius: 12px; 
  }

  /* Containers */
  .ranges {
    width: 100%;   }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    border-radius: 12px;
    opacity: 0.6; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #03343b; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 15px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #03343b; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

/* animation for when we are speaking */



.lds-ellipsis {
  /* text-align: center; */


  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  /* margin pushes animation dots below text */
  margin:20px auto; 

  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--theme-one-dark); 
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(even){
  background: #011518; 
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(240px, 0);
  }
}
.lds-ellipsis::after{
  
  content: "Speaking"
}
.container{
    width: 85%;
    max-width: 65em;
    margin: 0 auto;
    font-size: 2rem;  
}
.description{
    padding: 6em; 
    font-size: 16px;
    color: #111; 
}
/* Layout Changes For Mobile */
@media(max-width:768px){
  .description{
    padding:1em; 
  }
}
.btn-grad {

    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background: var(--theme-blue-darkblue);
    border-radius: 12px; 

    margin-left: 5%; 
    margin-top: 5%; 

    outline:none; 
}

.btn-grad:hover { 
    background: #222; 
    background: linear-gradient(190deg, #0c094e 0%,  #363795  100%);
    cursor: pointer;

}